<!DOCTYPE html>
<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" type="text/css" href="style.css">
        <meta charset="utf-8">
    </head>
    <body>
        <div id="admin">
            <div id="nav">
              <p id="logo">ASHBYco</p>
              <form class="example" action="/action_page.php" style="margin:auto;max-width:900px">
                <input type="text" placeholder="NOT YET IMPLEMENTED" name="search2">
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
              <div id="links">
                <a href="index.html">Home</a> |
                <a href="about.html">About</a> |
                <a href="cart.html">Cart [{{cart.length}}]</a> |
                <a href="/" style="color:#2196F3">Admin</a>
                <p v-if="user">Welcome {{user.username}}<a href="#" @click="logout" style="float:right;">Logout</a></p>
                <p v-else><a href="#" @click="toggleForm" style="float:right;">Register or Login</a></p>
              </div>
            </div>
            <div class="add">
                <div class="form">
                    <h1>Store Management Interface</h1>
                    <p>Product Name <input v-model="name" placeholder="Name"></p>
                    <p>Price <input v-model="price" placeholder="Price"></p>
                    <p>Webpage Path <input v-model="path" placeholder="Path"></p>
                    <p>Picture URL <input v-model="Url" placeholder="URL"><button @click="addProduct">Add Product</button></p>
                </div>
                <div class="currentProd">
                    <u><h2>Current Products</h1></u>
                    <p v-for="item in items">
                        <span class="glyphicon glyphicon-remove" v-on:click="removeItem(item)"></span> {{item.name}} - price {{item.price}} - ordered {{item.ordered}} <img v-bind:src="item.url" width=200 height=100>
                    </p>
                </div>
            </div>
            <div id="footer">
              <p>what the heck, my footer</p>
            </div>
            <transition v-if="showForm" name="modal">
              <div class="modal-mask">
                <div class="modal-wrapper">
                  <div class="modal-container">
        
                    <div class="modal-header">
                      <h1 class="modal-title">Register or Login</h1>
                    </div>
                    <div class="modal-body">
                      <p v-if="error" class="error">{{error}}</p>
                      <label>Username</label>
                      <br>
                      <input v-model="username">
                      <br>
                      <label>Password</label>
                      <br>
                      <input type="password" v-model="password">
                    </div>
                    <div class="modal-footer">
                      <button @click="register" type="button">Register</button>
                      <button @click="login" type="button" class="other">Login</button>
                      <button @click="toggleForm" type="button" class="close">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </transition>
            <transition v-if="notAdmin" name="modal2">
                <div class="modal-mask2">
                    <div class="modal-wrapper">
                      <div class="modal-container">
                        <div class="modal-header">
                          <h1 class="modal-title">Please contact your Admin for access to this page</h1>
                        </div>
                        <div class="modal-footer">
                            <button @click="" type="button"><a href="index.html">Return to Home Page</a></button>
                        </div>
                      </div>
                    </div>
                </div>
            </transition>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.js" integrity="sha256-g+Q8DFAmG5+eyRPSydX0LY4TfjsL11XSDrIGerbbEdA=" crossorigin="anonymous"></script>
        <script src="/admin.js"></script>
    </body>
</html>